// Place all the styles related to the toppages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

//ナビバーの変更
nav{
    //ナビバーのデザイン変更
    border-bottom: solid 1px silver;
    
    //ハンバーガーメニューの変更
    .navbar-toggler{
      border-color: white;
      width: 10px;
    }
    .navbar-toggler{
      background-color: white;
    }
    .navbar-toggler .navbar-toggler-icon {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
      width: 30px;
    }
    
    //タイトルとロゴの変更
    .topLogo{
        width: 120px;
        position: relative;
        bottom: 2px;
        right: 25%;
        
    }
}



@media  (min-width:990px){
    
}